@import "tailwindcss";

@layer base {
  :root {
    --font-heading: 'Manrope', sans-serif;
    --font-body: 'Inter', sans-serif;
  }
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

/* Custom subtle scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #EFF9F2;
}
::-webkit-scrollbar-thumb {
  background: #C8EBD5;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #35A66F;
}

